/*colori
#131921
#232f3e
*/

/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e3e6e6;
    font-family: 'Open Sans', sans-serif;
}
/*Generics*/
header{
    font-size: 13px;
}
a{
    text-decoration: none;
    color: white;
}
input{
    padding-left: 10px;
}
main{
    background-image: url("../img/background_conteiner.png");
    background-size: cover;
    min-height: 800px;
    max-width: 1500px;
    margin: 0 auto;
}
footer{
    margin-top: 30px;
    text-align: center;
}
/*Pseudo-classes*/
  .nav2_links:hover{
    border: solid white 1px;
    border-style: inset;
  }
/*Utilties*/
.nav1_buttons{
    min-height: 50px;
    width: 250px;
}
.info{
    width: 150px;
    text-align: center;
}
.nav2_links{
    min-height: 40px;
    width: 80px;
    line-height: 37px;
    text-align: center;
    font-size: 15px;
}
.conteiner{
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
        padding-top: 30px;
    }
    .card{
        background-color: white;
        min-height: 450px;
        width: 350px;
    }
    .card_title{
        background-color: bisque;
        min-height: 70px;
    }
    .card_content{
        background-color: rgb(253, 212, 161);
        min-height: 310px;
    }
    .card_descr{
        background-color: rgb(252, 162, 43);
        min-height: 70px;
    }
    .showcase{
        background-color: white;
        margin: 0 auto;
        max-width: 1110px;
        min-height: 250px;
        margin-top: 20px;
    }
/*header*/
#nav1{
    min-height: 60px;
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    color: white;
}
.nav1_logo{
    display: flex;
    justify-content: center;
    
}
#size_logo{
    height: 60px;
    width: 120px;
    margin: 0 auto;
}
#ciao_nav{
    margin-left: 30px;
}
.superior_conteined{
    text-align: start;
    margin: 10px 10px 0px 15px;
    color: rgb(209, 209, 209);
}
.nav_conteined{
    margin: 5px 10px 0px 10px;
}
.fa-cart-shopping{
    position: relative;
    top: 22px;
}
#nav2{
    min-height: 40px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
}
#nav1_search{
    background-color: white;
    margin-top: 12px;
    height: 40px;
    width: 60%;
    border-radius: 5px;
    display: flex;
}
#search1{
    background-color: #f3f3f3;
    height: 100%;
    width: calc(100% - 85%);
    border-radius: 5px 5px;
    border: solid #dddddd 1px;
}
#category{
    color: #696b69;
    line-height: 35px;
    padding-left: 10px;
}
#search2{
    background-color: white;
    height: 100%;
    width: calc(100% - 1%);
    border: none;
    border-top-right-radius: 5px 5px;

}
#search3{
    background-color: #febd69;
    height: 100%;
    width: calc(100% - 94%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fa-magnifying-glass{
    position: relative;
    top: 11px;
    left: 13px;
}
#nav1_orders{
    min-height: 50px;
    width: 100px;
}
#nav2_largelink{
    min-height: 40px;
    width: 250px;
    line-height: 35px;
    color: #b6b6b6;
    font-weight: lighter;
}
/*jumbotron*/
#ad_j{
    background-image: url("../img/background.jpg");
    background-size: cover;
    min-height: 300px;
    max-width: 1500px;
    margin: 0 auto;
}
/*Main*/
.size_img{
    width: 350px;
    height: 310px;
}
/*Footer*/
#foot_1sect{
    background-color: #37475a;
    min-height: 60px;
}
#foot_2sect{
    background-color: #232f3e;
    min-height: 400px;
    border-bottom: solid #e3e6e6 1px;
}
#foot_3sect{
    background-color: #232f3e;
    min-height: 150px;
}
#foot_4sect{
    background-color: #131a22;
    min-height: 220px;
}
