/*colori
#131921
#232f3e
*/

/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
main{
    background-image: url("../img/background.jpg");
    background-size: cover;
    min-height: 300px;
}
/*Selettori avanzati*/

/*Utilties*/

/*header*/
#nav1{
    min-height: 60px;
    background-color: #131921;
}
#nav2{
    min-height: 40px;
    background-color: #232f3e;
}